.reportDetail {
  width: 100%;
  height: 100%;
  background: #fff;
  padding-top: .44rem;
  box-sizing: border-box;
  overflow: hidden;
}
.reportDetail .head {
  width: 100%;
  height: .44rem;
  line-height: .44rem;
  box-sizing: border-box;
  padding: 0 .14rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
}
.reportDetail .head .left {
  width: .3rem;
  height: .44rem;
}
.reportDetail .head .left img {
  width: .17rem;
  height: .17rem;
  margin-top: .15rem;
}
.reportDetail .head .center {
  font-size: .18rem;
  color: #333;
  font-weight: 700;
}
.reportDetail .head .right {
  font-size: .15rem;
  color: #333;
  font-weight: bolder;
}
.reportDetail .page-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.reportDetail .page-content .info {
  width: 100%;
  height: .53rem;
  line-height: .53rem;
  box-sizing: border-box;
  padding: 0 .14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #f4f4f4;
}
.reportDetail .page-content .info .info_left {
  font-size: .18rem;
  color: #333;
}
.reportDetail .page-content .info .info_right {
  box-sizing: border-box;
  padding: .01rem .06rem;
  background: lightskyblue;
  color: #27A5F9;
}
.reportDetail .page-content .info .info_right.upload {
  color: #27A5F9;
}
.reportDetail .page-content .info .info_right.handling {
  color: #27A5F9;
}
.reportDetail .page-content .info .info_right.handled {
  color: #66D14B;
}
.reportDetail .page-content .info .info_right.inadmissible {
  color: #FF4D54;
}
.reportDetail .page-content .detail {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .14rem;
}
.reportDetail .page-content .detail .title {
  width: 100%;
  height: .2rem;
  margin-top: .22rem;
  border-left: 2px solid #27A5F9;
  font-size: .18rem;
  color: #333;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: .1rem;
}
.reportDetail .page-content .detail .other .time {
  width: 100%;
  display: flex;
  font-size: .15rem;
}
.reportDetail .page-content .detail .other .time .timeKey {
  color: #999;
  margin-right: .3rem;
}
.reportDetail .page-content .detail .other .time .timeVal {
  color: #333;
}
.reportDetail .page-content .detail .other .marg {
  margin-top: .2rem;
}
.reportDetail .page-content .detail .other .marg2 {
  margin-top: .12rem;
  margin-bottom: .2rem;
}
.reportDetail .page-content .text {
  width: 100%;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  padding: 0 .14rem;
  position: relative;
  overflow-y: hidden;
}
.reportDetail .page-content .text .text_height {
  width: 100%;
  line-height: .22rem;
  font-size: .16rem;
  color: #666;
}
.reportDetail .page-content .text .show {
  width: 70%;
  height: .22rem;
  display: flex;
  justify-content: space-between;
  background: #fff;
  position: absolute;
  right: .14rem;
  bottom: 0;
}
.reportDetail .page-content .text .show .show_left {
  transform: translateY(0.04rem);
}
.reportDetail .page-content .text .show .show_right {
  height: 100%;
  line-height: 100%;
  font-size: .16rem;
  color: #27A5F9;
}
.reportDetail .page-content .text .show2 {
  width: 40px;
  height: .22rem;
  line-height: .22rem;
  text-align: right;
  font-size: .16rem;
  color: #27A5F9;
  background: #fff;
  position: absolute;
  right: .14rem;
  bottom: 0;
}
.reportDetail .page-content .showPhoto {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .14rem;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: .2rem;
}
.reportDetail .page-content .showPhoto .aul {
  display: flex;
  flex-wrap: wrap;
}
.reportDetail .page-content .showPhoto .aul .ali {
  width: .8rem;
  height: .8rem;
  margin-right: .06rem;
  margin-top: .1rem;
  border-bottom: 1px solid #f4f4f4;
}
.reportDetail .page-content .showPhoto .aul .ali:nth-of-type(4) {
  margin-right: 0;
}
.reportDetail .page-content .showPhoto .aul .ali img {
  width: 100%;
  height: 100%;
}
.reportDetail .page-content .flow {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .2rem 0 .14rem;
}
.reportDetail .page-content .flow .title {
  width: 100%;
  height: .2rem;
  margin-top: .22rem;
  border-left: 2px solid #27A5F9;
  font-size: .18rem;
  color: #333;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: .1rem;
}
.reportDetail .page-content .rat {
  width: 100%;
  box-sizing: border-box;
  padding: 0 .14rem;
}
.reportDetail .page-content .rat .title {
  width: 100%;
  height: .2rem;
  margin-top: .22rem;
  border-left: 2px solid #27A5F9;
  font-size: .18rem;
  color: #333;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: .1rem;
}
.reportDetail .page-content .rat .rating {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: .16rem;
  color: #666;
  margin-top: .18rem;
  margin-bottom: .15rem;
}
.reportDetail .page-content .rat .rating .rating_left {
  display: flex;
}
.reportDetail .page-content .rat .rating .rating_left .rating_name {
  margin-right: .24rem;
}
.reportDetail .page-content .rat .rating .rating_left .star {
  margin-right: .14rem;
}
.reportDetail .page-content .rat .rating .rating_left .star i {
  font-size: .2rem;
}
.reportDetail .page-content .rat .rating .rating_left .star .paicon-selected_star {
  color: #27A5F9;
}
.reportDetail .page-content .rat .rating_time {
  font-size: .12rem;
  color: #C7C7C7;
}
.reportDetail .page-content .rat .rating_tent {
  margin-top: .1rem;
  margin-bottom: .14rem;
  font-size: .16rem;
  color: #666;
}
.reportDetail .page-content .rat .input {
  width: 100%;
  height: 1rem;
}
.reportDetail .page-content .rat .input textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #f4f4f4;
  resize: none;
  font-size: .15rem;
  box-sizing: border-box;
  padding: .09rem .14rem;
}
.reportDetail .page-content .rat .butt {
  width: 100%;
  height: .45rem;
  line-height: .45rem;
  text-align: center;
  font-size: .18rem;
  color: #fff;
  background: #27A5F9;
  opacity: .3;
  margin: .2rem 0;
}
